<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="./css/form.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <form class="g-form" action="/checkin" method="post">
      <div class="form-control">
        <label for="name">Tên nhân viên</label>
        <input type="text" value="Phạm Phi" disabled>
      </div>
      <% if(!isCheckIn) { %>
      <div class="form-control">
        <label for="workplace">Nơi làm việc</label>
        <select name="workplace" id="workplace">
          <option value="Công Ty">Công Ty</option>
          <option value="Nhà">Nhà</option>
          <option value="Khách Hàng">Khách Hàng</option>
        </select>
      </div>
      <button class="btn" type="submit">Submit</button>
      <% }else{ %>
      <div class="form-control">
        <label for="workplace">Nơi làm việc</label>
        <input type="text" name="workplace" id="workplace" value="<%= workPlace %> " disabled>
      </div>
      <div class="form-control">
        <label for="starttime">Thời gian bắt đầu</label>
        <input type="text" name="starttime" id="starttime" value="<%= startTime %> " disabled>
      </div>
      <% } %>
    </form>
  </main>
  <%- include('./includes/end.ejs') %>